# Part II: Scrubbing

![alt text](data/inu_neko_logo_small.png "Inu + Neko")

Hello! We are Inu + Neku and we are a Dog & Cat services and supplies store located in New York City. We just started our e-commerce business and need your help analyzing our data!

## Description

We need to make sure the data is clean before starting your analysis. As a reminder, we should check for:

- Duplicate records
- Consistent formatting
- Missing values
- Obviously wrong values


> **NOTE:** You can check if your answer is at least close to the correct/expected answer with the check functions (`q1_check()`, `q2_check()`, ...). These functions will check your answer and give you some feedback. However, your answer might be _incorrect_ even if the check functions says you're "close" to the expected answer.

In [2]:
import pandas as pd
import numpy as np

from checker.binder import binder; binder.bind(globals())
from intro_data_analytics.check_practice_scrubbing import *

In [3]:
df = pd.read_csv('data/inu_neko_orderline.csv')
df

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,0
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,0
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,0
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,0
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24015,10300293,73201504044,1001021,2021-01-14 12:14:54.409676,2021,1,14,14,2,19,California,18.95,Purrfect Puree,treat,cat,NaN,0
24016,10300293,969568933713,1001021,2021-01-14 12:14:54.409676,2021,1,14,14,1,19,California,32.99,Foozy Mouse,toy,cat,NaN,0
24017,10300293,344538897332,1001021,2021-01-14 12:14:54.409676,2021,1,14,14,1,19,California,19.99,Feline Fix Mix,treat,cat,NaN,0
24018,10300293,441530839394,1001021,2021-01-14 12:14:54.409676,2021,1,14,14,1,19,California,28.45,Ball and String,toy,cat,NaN,0
24019,10300319,469757173540,1001226,2021-01-14 12:33:22.566008,2021,1,14,14,2,31,New York,35.99,Kitty Climber,toy,cat,NaN,0

In [4]:
df.head(10)

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,0
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,0
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,0
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,0
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,0
5,10304083,344538897332,1004553,2021-03-15 06:54:04.394363,2021,3,15,15,1,23,Pennsylvania,19.99,Feline Fix Mix,treat,cat,NaN,0
6,10302524,441530839394,1003206,2021-02-26 09:53:54.769593,2021,2,26,26,2,23,Connecticut,28.45,Ball and String,toy,cat,NaN,0
7,10306020,374613020864,1006211,2021-03-31 11:24:22.552751,2021,3,31,31,1,21,New Jersey,10.97,Chewie Dental,treat,dog,NaN,0
8,10311825,344538897332,1010883,2021-05-04 11:27:31.070711,2021,5,4,4,2,26,New York,19.99,Feline Fix Mix,treat,cat,NaN,0
9,10311575,704772572943,1010687,2021-05-03 13:49:16.108636,2021,5,3,3,1,33,Connecticut,35.98,Scratchy Post,toy,cat,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24020 entries, 0 to 24019
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          24020 non-null  int64
 1   prod_upc          24020 non-null  int64
 2   cust_id           24020 non-null  int64
 3   trans_timestamp   24020 non-null  object
 4   trans_year        24020 non-null  int64
 5   trans_month       24020 non-null  int64
 6   trans_day         24020 non-null  int64
 7   trans_hour        24020 non-null  int64
 8   trans_quantity    24020 non-null  int64
 9   cust_age          24020 non-null  int64
 10  cust_state        24020 non-null  object
 11  prod_price        24020 non-null  float64
 12  prod_title        24020 non-null  object
 13  prod_category     24020 non-null  object
 14  prod_animal_type  24020 non-null  object
 15  prod_size         4715 non-null   object
 16  total_sales       24020 non-null  int64
dtypes: float64(1), int64(10), object(6)
memory usage: 3.1+ MB

In [5]:
df.describe()

,trans_id,prod_upc,cust_id,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,prod_price,total_sales
count,2.402000e+04,2.402000e+04,2.402000e+04,24020.0,24020.000000,24020.000000,24020.000000,2.402000e+04,2.402000e+04,2.402000e+04,24020.0
mean,1.030871e+07,5.013955e+11,1.007844e+06,2021.0,3.815112,16.231141,16.231141,3.625468e+02,3.912443e+02,3.919014e+02,0.0
std,1.167553e+04,2.587757e+11,4.964255e+04,0.0,1.177490,8.445880,8.445880,5.597555e+04,5.597537e+04,5.597537e+04,0.0
min,8.675309e+06,8.675309e+06,1.001012e+06,2021.0,1.000000,1.000000,1.000000,1.000000e+00,1.800000e+01,9.950000e+00,0.0
25%,1.030443e+07,3.445389e+11,1.003956e+06,2021.0,3.000000,9.000000,9.000000,1.000000e+00,2.500000e+01,1.895000e+01,0.0
50%,1.030877e+07,4.697572e+11,1.007264e+06,2021.0,4.000000,17.000000,17.000000,1.000000e+00,2.900000e+01,2.195000e+01,0.0
75%,1.031310e+07,7.196385e+11,1.010992e+06,2021.0,5.000000,24.000000,24.000000,2.000000e+00,3.400000e+01,4.599000e+01,0.0
max,1.031757e+07,9.695689e+11,8.675309e+06,2021.0,5.000000,31.000000,31.000000,8.675309e+06,8.675309e+06,8.675309e+06,0.0

In [6]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
24015     True
24016     True
24017     True
24018     True
24019     True
Length: 24020, dtype: bool

#### Question 1: Duplicate Records

How many duplicate transaction records are there? Do not count the first occurence as a duplicate. Assign your answer to the variable `dup_rows`.

In [7]:
# your code here

dup_rows = df.duplicated().sum()
print(dup_rows)


#dup_rows =

263

In [8]:
# Q1 Test Cases
check_q1()

Your answer `263` for the `dup_rows` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 2: Drop Duplicate Records

Drop the duplicated records and assign the output `DataFrame` to a new variable called `df_cleaned`. Use this from now on.

In [60]:
import numpy as np

In [9]:
# your code here

df_cleaned = df[~df.duplicated()]
df_cleaned.head()

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,0
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,0
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,0
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,0
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,0

In [10]:
# Q2 Test Cases
check_q2()

Your answer had `23757` rows in the `df_cleaned` DataFrame variable which looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 3: Consistent Formatting

Fix the inconsistencies in the column `cust_state`.

In [11]:
# your code here
df_cleaned["cust_state"].replace(["CA","FL","AL","NY"],["California","Florida","Alabama","New York"], inplace=True)

df_cleaned.head()

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,0
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,0
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,0
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,0
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,0

In [12]:
# Q3 Test Cases
check_q3()

Your answer had `51` unique values in the `cust_state` column of the`df_cleaned` DataFrame variable which looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 4: Fistful of Dollars I

Validate the prices in `prod_price`. Remove any rows that are obviously wrong.

In [13]:
# your code here
df_num_fixed = df_cleaned[~(df_cleaned["prod_price"]>=1000)]
df_num_fixed.prod_price.max()
df_cleaned = df_cleaned[~(df_cleaned["prod_price"]>=1000)]
df_cleaned.head()

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,0
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,0
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,0
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,0
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,0

In [14]:
# Q4 Test Cases
check_q4()

Your max value for the `prod_price` was `72.99` which looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 5: Fistful of Dollars II

Correct the values in the `total_sales` column. Use `prod_price` and `trans_quantity`.

In [15]:
# your code here
df_cleaned["total_sales"] = df_cleaned["prod_price"]*df_cleaned["trans_quantity"]
df_cleaned

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,prod_size,total_sales
0,10316740,575410882303,1014557,2021-05-26 12:57:07.490008,2021,5,26,26,1,19,New York,21.95,Chomp-a Plush,toy,dog,NaN,21.95
1,10308775,719638485153,1008476,2021-04-18 12:59:58.120489,2021,4,18,18,1,37,New York,72.99,Cat Cave,bedding,cat,NaN,72.99
2,10313982,287663658863,1012552,2021-05-14 14:23:52.375544,2021,5,14,14,1,35,New Jersey,9.95,All Veggie Yummies,treat,dog,NaN,9.95
3,10311897,521244155990,1010940,2021-05-04 08:25:25.905636,2021,5,4,4,1,39,Mississippi,54.95,Reddy Beddy,bedding,dog,small,54.95
4,10315882,287663658863,1013961,2021-05-22 11:55:36.733048,2021,5,22,22,1,25,Florida,9.95,All Veggie Yummies,treat,dog,NaN,9.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,10315599,717036112695,1013749,2021-05-21 13:19:38.029278,2021,5,21,21,3,25,New Jersey,60.99,Reddy Beddy,bedding,dog,medium,182.97
23996,10311302,483326155497,1008478,2021-05-01 13:31:32.225029,2021,5,1,1,1,31,Arizona,10.99,The New Bone,food,dog,large,10.99
23997,10315418,441530839394,1003991,2021-05-20 09:49:13.831249,2021,5,20,20,1,26,Florida,28.45,Ball and String,toy,cat,NaN,28.45
23998,10316198,704772572943,1009127,2021-05-23 11:11:15.011806,2021,5,23,23,1,25,Georgia,35.98,Scratchy Post,toy,cat,NaN,35.98
23999,10312407,621046126170,1011343,2021-05-07 08:40:52.288583,2021,5,7,7,1,22,Pennsylvania,22.99,Tug-a-Back,toy,dog,NaN,22.99

In [16]:
# Q5 Test Cases
check_q5()

Your answer for the `df_cleaned` variable which looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 6: Missing Values I

How many missing values are there?

In [17]:
# your code here

num_nans = df_cleaned.isna().sum().sum()

num_nans

19094

In [18]:
# Q6 Test Cases
check_q6()

Your answer `19094` for the `num_nans` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 7: Missing Values II

Drop any columns with missing values.

In [22]:
# your code here
df_cleaned = df_cleaned.dropna(axis=1)

In [23]:
# Q7 Test Cases
check_q7()

Your answer had `16` columns in the `df_cleaned` DataFrame variable which looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!