# Part III: Explore

![alt text](data/inu_neko_logo_small.png "Inu + Neko")

Hello! We are Inu + Neku and we are a Dog & Cat services and supplies store located in New York City. We just started our e-commerce business and need your help analyzing our data!

## Description

We need to make sure the data is clean before starting your analysis. As a reminder, we should check for:

- Duplicate records
- Consistent formatting
- Missing values
- Obviously wrong values

> **NOTE:** You can check if your answer is at least close to the correct/expected answer with the check functions (`q1_check()`, `q2_check()`, ...). These functions will check your answer and give you some feedback. However, your answer might be _incorrect_ even if the check functions says you're "close" to the expected answer.

In [1]:
import pandas as pd
import numpy as np


from checker.binder import binder; binder.bind(globals())
from intro_data_analytics.check_practice_explore import *

In [2]:
df_cleaned = pd.read_csv('data/inu_neko_orderline_cleaned.csv')
df_cleaned

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10311803,704772572943,1010865,2021-05-04 14:20:00.426577,2021,5,4,4,1,21,Pennsylvania,35.98,Scratchy Post,toy,cat,35.98
1,10300426,441530839394,1001150,2021-01-19 10:03:15.598881,2021,1,19,19,2,21,Oregon,28.45,Ball and String,toy,cat,56.90
2,10311471,969568933713,1010603,2021-05-02 09:41:06.068295,2021,5,2,2,1,44,Texas,32.99,Foozy Mouse,toy,cat,32.99
3,10306506,100469015054,1006616,2021-04-03 08:22:05.599849,2021,4,3,3,2,25,New Jersey,18.95,Tuna Tasties,treat,cat,37.90
4,10308646,521244155990,1008375,2021-04-17 09:44:51.009960,2021,4,17,17,1,30,New Jersey,54.95,Reddy Beddy,bedding,dog,54.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23751,10305783,832878954342,1006011,2021-03-29 10:48:52.680900,2021,3,29,29,1,40,New York,45.99,Snoozer Hammock,bedding,cat,45.99
23752,10317151,441530839394,1014854,2021-05-27 12:15:18.931957,2021,5,27,27,1,21,New Mexico,28.45,Ball and String,toy,cat,28.45
23753,10302720,733426809698,1003380,2021-02-28 10:13:34.969109,2021,2,28,28,1,26,Michigan,18.95,Yum Fish-Dish,food,cat,18.95
23754,10314978,733426809698,1013297,2021-05-18 10:51:44.007914,2021,5,18,18,1,29,Pennsylvania,18.95,Yum Fish-Dish,food,cat,18.95
23755,10316727,469757173540,1014548,2021-05-25 11:54:05.656762,2021,5,25,25,4,31,Nevada,35.99,Kitty Climber,toy,cat,143.96

In [3]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23756 entries, 0 to 23755
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          23756 non-null  int64
 1   prod_upc          23756 non-null  int64
 2   cust_id           23756 non-null  int64
 3   trans_timestamp   23756 non-null  object
 4   trans_year        23756 non-null  int64
 5   trans_month       23756 non-null  int64
 6   trans_day         23756 non-null  int64
 7   trans_hour        23756 non-null  int64
 8   trans_quantity    23756 non-null  int64
 9   cust_age          23756 non-null  int64
 10  cust_state        23756 non-null  object
 11  prod_price        23756 non-null  float64
 12  prod_title        23756 non-null  object
 13  prod_category     23756 non-null  object
 14  prod_animal_type  23756 non-null  object
 15  total_sales       23756 non-null  float64
dtypes: float64(2), int64(9), object(5)
memory usage: 2.9+ MB

#### Question 1: Number of Orders

How many transactions are there?

In [4]:
# your code here

num_trans = df_cleaned.trans_id.nunique()
num_trans

17416

In [5]:
# Q1 Test Cases
check_q1()

Your answer `17416` for the `num_trans` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 2: Alpha and Omega I
What was the month and day of the first sale? Store as a tuple in that order and assign the tuple to the variable `first_date`.

In [6]:
# your code here
import datetime as dt
df_cleaned["trans_timestamp"] = pd.to_datetime(df_cleaned["trans_timestamp"])
df_cleaned = df_cleaned.sort_values(by=["trans_timestamp"])
# first_date =

In [7]:
month_first_sales = df_cleaned["trans_month"].iloc[0]
day_first_sales=df_cleaned["trans_day"].iloc[0]
first_date =(month_first_sales,day_first_sales)
first_date

(1, 1)

In [8]:
month_first_sales = df_cleaned["trans_month"]

In [9]:
month_first_sales.iloc[-1]

5

In [18]:
# Q2 Test Cases
check_q2()

Your answer `1` for the month in `first_date` isn't quite right.
Take a closer look at your code to see what you can change.

#### Question 3: Alpha and Omega II
What was the month and day of the last sale? Store as a tuple in that order and assign the tuple to the variable `last_date`.

In [21]:
# your code here
month_last_sale = df_cleaned["trans_month"].iloc[-1]
day_last_sale = df_cleaned["trans_day"].iloc[-1]
last_date = (month_last_sale, day_last_sale)

In [22]:
last_date

(5, 28)

In [23]:
# Q3 Test Cases
check_q3()

Your answer `28` for the day in `last_date` isn't quite right.
Take a closer look at your code to see what you can change.

#### Question 4: Cats vs Dogs

Which animal product type is most popular?

In [24]:
# your code here

# most_pop =

most_pop = "dog" if (df_cleaned["prod_animal_type"]=="dog").sum() > (df_cleaned["prod_animal_type"]=="cat").sum() else "cat"

most_pop

'cat'

In [25]:
# Q4 Test Cases
check_q4()

Your answer `cat` for the `most_pop` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 5: More Money More Problems I

What was the total dollar amount made in the month of January? Store this in the variable `jan_rev`.

In [26]:
# your code here

# jan_rev = 
#df.total_sales[df.trans_month==1].sum() 

jan_df = df_cleaned[df_cleaned["trans_month"]==1] 
jan_rev = jan_df['total_sales'].sum()

In [27]:
# Q5 Test Cases
check_q5()

Your answer `51739.740000000005` for the `jan_rev` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 6: More Money More Problems II

What was the total dollar amount made in the month of May? Store this in the variable `may_rev`.

In [28]:
# your code here

# may_rev = 

#df.total_sales[df.trans_months==6].sum() 
may_df = df_cleaned[df_cleaned["trans_month"]==5].sum()
may_rev = may_df['total_sales'].sum()
may_rev

370507.59

In [29]:
# Q6 Test Cases
check_q6()

Your answer `370507.59` for the `may_rev` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 7: Transaction Size

What is the average number of items bought in each transaction? Sore this in the variable `avg_num_items`.

In [10]:
# your code here

# avg_num_items = 

total_sum = df_cleaned["trans_quantity"].sum()
total_count = df_cleaned["trans_quantity"].shape[0]
avg_num_items = total_sum/num_trans
avg_num_items

1.8820050528249885

In [11]:
# Q7 Test Cases
check_q7()

Your answer `1.8820050528249885` for the `avg_num_items` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 8: Best Products I

What are the top ten product titles by the total number of items sold for that product? Display in descending order. Store in variable `top_num_sales`.

In [12]:
# your code here

# top_num_sales =

df_pt_tq = df_cleaned[["prod_title","trans_quantity"]]

top_ten_sales = df_pt_tq.groupby("prod_title")["trans_quantity"].sum().to_frame().sort_values(by = "trans_quantity", ascending = False)[0:10]

top_num_sales = top_ten_sales.index.tolist()
top_num_sales

['Reddy Beddy',
 'Yum Fish-Dish',
 'Feline Fix Mix',
 'Kitty Climber',
 'Tuna Tasties',
 'Chewie Dental',
 'Cat Cave',
 'Purrfect Puree',
 'Whole Chemistry Recipe',
 'Snoozer Hammock']

In [97]:
# Q8 Test Cases
check_q8()

Your answer for the `top_num_sales` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 9: Best Products II

What are the top ten product titles by total dollar amount made? Display in descending order. Store in variable `top_tot_sales`.

In [13]:
# your code here

# top_tot_sales = 

df_pt_td = df_cleaned[["prod_title","total_sales"]]

top_ten_sales = df_pt_td.groupby("prod_title")["total_sales"].sum().to_frame().sort_values(by = "total_sales", ascending = False)[0:10]

top_tot_sales = top_ten_sales.index.tolist()

top_tot_sales

['Reddy Beddy',
 'Cat Cave',
 'Kitty Climber',
 'Snoozer Hammock',
 'Snoozer Essentails',
 'Yum Fish-Dish',
 'Feline Fix Mix',
 'Scratchy Post',
 'Foozy Mouse',
 'Tuna Tasties']

In [100]:
# Q9 Test Cases
check_q9()

Your answer for the `top_tot_sales` variable looks about right!
Note that doesn't mean it's correct though, just that your answer is at least **close** to the correct answer. It's possible your answer isn't correct, although it's close!

#### Question 10: Bonus

What is the proportion of returning customers? Store as variable `prop_returning`.

In [ ]:
# your code here

# prop_returning =

In [ ]:
# Q10 Test Cases
check_q10()